/* 1. Reset e Box Model - Fundamental para a Auditoria */
* {
    margin: 0;
    padding: 0;
    /* LACUNA: Qual propriedade impede que padding e bordas 'estourem' a largura? */
    box-sizing: border-box; 
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    /* LACUNA: Converta 16px para REM (Base 16) */
    font-size: 1rem; 
}

/* --- PADRÃO DESKTOP --- */
.header {
    background-color: #32a041; 
    color: white;
    padding: 2rem;
    text-align: center;
}

.container {
    display: flex;
    width: 90%;
    /* LACUNA: Use a propriedade que limita a largura sem travar o layout em telas menores */
    max-width: 1100px; 
    margin: 20px auto;
    gap: 15px;
}

.main-content {
    flex: 3;
    padding: 2rem;
    background: #fff;
    border: 2px solid #32a041;
}

.sidebar {
    flex: 1;
    background-color: #e8f5e9;
    padding: 2rem;
}

/* --- LÓGICA DE TRANSIÇÃO (MOBILE) --- */

/* LACUNA: Crie o Breakpoint para telas de ate 768px */
@media ( max-width: 768px) {
    
    /* MUDANÇA PARA VERMELHO (Feedback Visual de Responsividade) */
    .header {
        background-color: #d32f2f; 
    }
    
    .container {
        /* LACUNA: Como fazer os elementos empilharem um embaixo do outro? */
        display: flex; 
        flex-direction: column;
    }

    .main-content {
        width: 100%;
        /* LACUNA: Altere a borda para combinar com a nova cor do header */
        border-color: #610606;
        margin-bottom: 1rem;
    }

    .sidebar {
        /* LACUNA: Garanta que a barra lateral ocupe a largura total no celular */
        width: 100%;
    }
}